body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1 {
	font-size: 28px;
}

h2 {
    font-size:24px;
}

h3 {
    font-size:22px;
}

h4 {
    font-size:18px;
}

li {
margin: 5px 5px;
}

a {
    text-decoration: none;
    color: #2835AB;
    font-size:20px;
    font-weight: normal;
}



/*ul {
    border-radius: 25px;
    border: 5px solid #002147;
    padding: 0px 0px 2px 20px;  // top right bottom left
   
}*/

.box {
    border-radius: 25px;
    border: 5px solid #002147;
    padding: 0px 0px 2px 20px;  /* top right bottom left*/
    margin:50px 0px 0px 0px;
    width:100%;
    overflow: auto
}

/* big screens */
@media (min-width: 500px) {
.container {
width:60%;
left:20%;
position:relative;
}

.left-col {
    width:50%;
    float:left;
}

.right-col {
    width:50%;
    float:right;
}
}

/* small screens */
@media (max-width: 500px) {
.container {
width:80%;
left:5%;
position:relative;
}
.left-col {
    width:100%;
    float:left;
}

.right-col {
    width:100%;
    float:left;
}

p, a, body {
    font-size:16px;
}

}

.contact {
    float:left;
    width:50%;
}

.poster-download {
    float:right;
    width:50%;
    text-align:right;
}




